 .u-section-1 {
  background-image: url("images/dietary-menu-healthy-vegan-salad-vegetables-broccoli-mushrooms-spinach-quinoa-bowl-flat-lay-top-view.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-group-1 {
  min-height: 686px;
  height: auto;
  width: 583px;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 225px;
  height: 225px;
  margin: 0 855px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 119px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  margin: 21px 60px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 21px 150px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 46px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-group-1 {
    background-position: 100% 50%;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    background-position: 71.36% 50%;
    width: 523px;
    margin-bottom: 29px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 62px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 278px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    margin-right: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 494px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 47px;
  margin-top: 47px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 375px;
  grid-gap: 20px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/dietary-menu-healthy-vegan-salad-vegetables-broccoli-mushrooms-spinach-quinoa-bowl-flat-lay-top-view.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-3850972.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/italian-spaghetti-with-tomato-sauce-pan.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 736px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -425px;
    margin-top: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 710px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 43px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 607px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 20px 137px 0 1px;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 1px;
}

.u-section-3 .u-text-3 {
  margin: 23px 1px 0;
}

.u-section-3 .u-text-4 {
  margin: 21px 137px 0 1px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 607px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  width: 540px;
  height: 521px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 38px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 36px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 347px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 412px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 328px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 494px;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  margin-bottom: 47px;
  margin-top: 47px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 375px;
  grid-gap: 20px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-3662126.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-3939685.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 167px;
  right: 7px;
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
    margin-top: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    margin-bottom: -823px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 742px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 622px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 29px;
}

.u-section-5 .u-image-1 {
  width: 540px;
  height: 559px;
  margin: 3px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 622px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 137px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 21px 137px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 487px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 37px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 373px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 352px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1457px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 1195px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-image-1 {
  height: 484px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  margin: 30px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  height: 484px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  margin: 30px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  height: 484px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  margin: 30px auto 0;
  padding: 16px 43px 16px 42px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-image-4 {
  height: 484px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  margin: 30px auto 0;
  padding: 16px 43px 16px 42px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 986px;
  }

  .u-section-6 .u-image-1 {
    height: 396px;
  }

  .u-section-6 .u-image-2 {
    height: 396px;
  }

  .u-section-6 .u-image-3 {
    height: 396px;
  }

  .u-section-6 .u-image-4 {
    height: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    height: 616px;
  }

  .u-section-6 .u-image-2 {
    height: 616px;
  }

  .u-section-6 .u-image-3 {
    height: 616px;
  }

  .u-section-6 .u-image-4 {
    height: 616px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    height: 458px;
  }

  .u-section-6 .u-image-2 {
    height: 458px;
  }

  .u-section-6 .u-image-3 {
    height: 458px;
  }

  .u-section-6 .u-image-4 {
    height: 458px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1998px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    height: 282px;
  }

  .u-section-6 .u-image-2 {
    height: 282px;
  }

  .u-section-6 .u-image-3 {
    height: 282px;
  }

  .u-section-6 .u-image-4 {
    height: 282px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 710px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 52px;
  margin-bottom: 52px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 607px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0 137px 0 1px;
}

.u-section-7 .u-text-2 {
  margin: 21px auto 0 1px;
}

.u-section-7 .u-text-3 {
  margin: 23px 1px 0;
}

.u-section-7 .u-text-4 {
  margin: 21px 137px 0 1px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 607px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 508px;
  height: 521px;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 38px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 36px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-7 .u-image-1 {
    width: 410px;
    height: 420px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-7 .u-image-1 {
    width: 300px;
    height: 307px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 259px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/vegetables-set-left-black-slate.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 745px;
}

.u-section-8 .u-group-1 {
  width: 225px;
  height: 225px;
  margin: 60px auto 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  width: 119px;
  margin: 20px auto 0;
}

.u-section-8 .u-text-3 {
  margin: 90px 483px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 31px 530px 0 0;
}

.u-section-8 .u-form-1 {
  height: 52px;
  margin: 30px 483px 60px 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 283px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 330px;
  }

  .u-section-8 .u-form-1 {
    margin-right: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 63px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 110px;
  }

  .u-section-8 .u-form-1 {
    margin-right: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-8 .u-group-1 {
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-form-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 401px;
}

.u-section-9 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 280px;
  grid-gap: 0px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-icon-1 {
  height: 67px;
  width: 67px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
  padding: 13px;
}

.u-section-9 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 18px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-icon-2 {
  height: 67px;
  width: 67px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
  padding: 13px;
}

.u-section-9 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 20px 0 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 18px 0 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-icon-3 {
  height: 67px;
  width: 67px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
  padding: 13px;
}

.u-section-9 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 20px 0 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 18px 0 0;
}

.u-section-9 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    min-height: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}